<div id="wrap" class="">

  <div class="page page-core page-login">

      <div class="text-center"><h3 class="text-light text-white">LiveCricketInfo</h3></div>

      <div class="container w-420 p-15 bg-white mt-40 text-center" style="width: 420px;">


          <h2 class="text-light text-greensea">Log In</h2>

          <form name="form" class="form-validation mt-20"  (ngSubmit)="onSubmit()" #f="ngForm" >

              <div class="form-group">
                  <input type="email" ngModel name="username" class="form-control underline-input" placeholder="Username">
              </div>

              <div class="form-group">
                  <input type="password" ngModel name="password" placeholder="Password" class="form-control underline-input">
              </div>
              <div class="" *ngIf="message" style="color:#ff0000;" >{{message}}</div>
              <div class="form-group text-left mt-20">
                  <button type="submit" class="btn btn-greensea b-0 br-2 mr-5">Login</button>
                  <label class="checkbox checkbox-custom-alt checkbox-custom-sm inline-block">
                      <input type="checkbox"><i></i> Remember me
                  </label>
                  <a href="#" class="pull-right mt-10">Forgot Password?</a>
              </div>

          </form>

          <div class="bg-slategray lt wrap-reset mt-40">
              <p class="m-0">
                  <a routerLink="/signup" class="text-uppercase">Create an account</a>
              </p>
          </div>

      </div>

  </div>



</div>
<!--/ Application Content -->

