<app-header></app-header>

<section id="content">
    <div class="page page-dashboard">
        <div class="pageheader">
            <h2>OverView <span>// You can place subtitle here</span></h2>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li> <a href="index-2.html"><i class="fa fa-home"></i> LivecricketInfo</a> </li>
                    <li> <a href="#">Tables</a></li>
                    <li> <a href="tables-bootstrap.html">Bootstrap Tables</a> </li>
                </ul>
            </div>
        </div>
        <div class="row">

                <!-- col -->
                <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                    <div class="card">
                        <div class="front bg-greensea">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <i class="fa fa-users fa-4x"></i>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-8">
                                    <p class="text-elg text-strong mb-0">1111</p>
                                    <span>New Users</span>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                        <div class="back bg-greensea">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-cog fa-2x"></i> Settings</a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                    </div>
                </div>
                <!-- /col -->

                <!-- col -->
                <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                    <div class="card">
                        <div class="front bg-lightred">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <i class="fa fa-shopping-cart fa-4x"></i>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-8">
                                    <p class="text-elg text-strong mb-0">19 364</p>
                                    <span>New Orders</span>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                        <div class="back bg-lightred">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-cog fa-2x"></i> Settings</a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                    </div>
                </div>
                <!-- /col -->

                <!-- col -->
                <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                    <div class="card">
                        <div class="front bg-blue">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <i class="fa fa-usd fa-4x"></i>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-8">
                                    <p class="text-elg text-strong mb-0">165 984</p>
                                    <span>Sales</span>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                        <div class="back bg-blue">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-cog fa-2x"></i> Settings</a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                    </div>
                </div>
                <!-- /col -->

                <!-- col -->
                <div class="card-container col-lg-3 col-sm-6 col-sm-12">
                    <div class="card">
                        <div class="front bg-slategray">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <i class="fa fa-eye fa-4x"></i>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-8">
                                    <p class="text-elg text-strong mb-0">29 651</p>
                                    <span>Visits</span>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                        <div class="back bg-slategray">

                            <!-- row -->
                            <div class="row">
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-cog fa-2x"></i> Settings</a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-chain-broken fa-2x"></i> Content</a>
                                </div>
                                <!-- /col -->
                                <!-- col -->
                                <div class="col-xs-4">
                                    <a href="#"><i class="fa fa-ellipsis-h fa-2x"></i> More</a>
                                </div>
                                <!-- /col -->
                            </div>
                            <!-- /row -->

                        </div>
                    </div>
                </div>
                <!-- /col -->

            </div>
    </div>
    <div class="page page-tables-datatables">
        <div class="row"><div class="col-md-12">
    <section class="tile">

        <!-- tile header -->
        <div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Videos Edit</strong></h1>
            <ul class="controls">
                <li>
                    <a role="button" tabindex="0" id="add-entry"><i class="fa fa-plus mr-5"></i> Add Video</a>
                </li>
                
            </ul>
        </div>
        <!-- /tile header -->
        
        <!-- tile body -->
        <div class="tile-body">
            <div class="table-responsive">
                    
                
                    <table class="table table-custom"  [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" >
                            <thead>
                                <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                    <th style="width: 160px;" >Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let video of data">
                                    <td> {{video.ID}}</td>
                                    <td class="sorting_1">{{video.videotitle}}</td>
                                    <td>{{video.videoid}}</td>
                                    <td>{{video.postdate}}</td>
                                    <td> {{video.series}}</td>
                                    <td class="actions">
                                        <a role="button" tabindex="0" class="edit text-primary text-uppercase text-strong text-sm mr-10">Edit</a>
                                        <a role="button" tabindex="0" class="delete text-danger text-uppercase text-strong text-sm mr-10">Remove</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                        <nav aria-label="Page navigation example text-center">
                            <ul class="pagination">
                              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                              
                              <li class="page-item" *ngFor="let c of total"><a class="page-link"  (click)="nextpage(c)" >{{c}}</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                          </nav>
                      
            </div>
        </div>
        <!-- /tile body -->

    </section>
</div></div></div>
  </section>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">
  $('#editableusage').DataTable();
  </script>
